# =================================
# ENVIRONMENT
# =================================
.env
.env.*
storage/*.key

# =================================
# DEPENDENCIES
# =================================

node_modules/

# =================================
# STORAGE (Laravel cache & logs)
# =================================
storage/logs/
storage/framework/

# Symlink public storage
public/storage/

# =================================
# BUILD (Vite / frontend assets)
# =================================
public/build/
public/hot/

# =================================
# TEMP FILES / DEBUG / TEST
# =================================
npm-debug.log*
yarn-error.log*
.phpunit.result.cache

# =================================
# LOCAL / PERSONAL CONFIG
# =================================
Homestead.*
auth.json
.fleet/
.idea/
.vscode/
